@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --btn: #FF5F1F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-btn: #FF5F1F;
  --font-sans: var(--font-montserrat);
}


html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
  font-weight: 300;
}

/* Hide scrollbar everywhere */
*,
*::before,
*::after {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
}
